html,
body {
  margin: 0;
}

.defset {
  text-align: center;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  background-image: url('../img/help/help.jpg');
}

.defset-c {
  min-height: 400px;
}

.Config-body {
  width: 100%;
  min-height: 1100px;
}

.Config-body-title {
  width: 80%;
  font-size: 30px;
  padding: 5px;
  margin: auto;
  border-radius: 20px;
  background-color: rgb(207 241 241 / 60%);
}

.Config-body-title-re {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.Config-body-font {
  width: 80%;
  font-size: 30px;
  margin: auto;
  padding: 10px;
}
