html,
body {
  margin: 0;
}


.user {
  background-image: url('../img/user/information/information.jpg');
}

.user_top {
  background-image: url('../img/user/information/left.jpg');
}

.user_top_img_bottom {
  background-image: url('../img/user/information/right.jpg');
}

.user {
  width: 100%;
  margin: auto;
  text-align: center;
  background-size: 100% auto;
}

.lattice {
  grid-template-columns: repeat(3, 33.33%);
  text-align: left;
  padding: 10px 0px 10px 50px;
  display: grid;
}

.Horizontal_grid {
  padding: 10px;
}

.font_control {
  font-size: 25px;
  color: rgb(0, 0, 0);
}

.user_top {
  display: grid;
  grid-template-columns: repeat(2, 65% 35%);
  background-size: 100% 100%;
}

.user_right {
  margin: auto;
  width: 100%;
  height: 100%;
}

.user_top_img_bottom {
  width: 285px;
  height: 300px;
  margin: auto;
  background-size: 100% 100%;
}

.user_top_img {
  width: 187px;
  height: 189px;
  border-radius: 100px;
  margin: auto;
  padding-left: 11px;
  margin-top: 58px;
}

.user_top_left {
  text-align: left;
  margin: auto 0px auto 20px;
}

.user_top_right {
  height: 100%;
  width: 100%;
  margin: auto 0;
}

.user_top_right_font0 {
  border-radius: 20px 20px 0 0;
  background-color: rgba(76, 148, 130);
}

.user_top_right_font1 {
  background-color: #cee6c1d1;
}

.user_top_msg {
  font-size: 25px;
  color: #033026;
  padding: 15px;
  background-color: #cee6c1d1;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.user_top_right_font {
  background-color: #cee6c1d1;
}

.user_top_right_font2 {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #cee6c1d1;
}

.user_font_msg {
  text-align: left;
  padding-left: 80px;
  white-space: nowrap;
}

.use_data {
  padding-bottom: 20px;
}

.user_font {
  text-align: left;
  margin: 9px;
  font-size: 25.6px;
  padding: 15px;
  padding-left: 60px;
  font-weight: 600;
  color: #033026;
  border-radius: 20px;
  background-color: rgba(19, 21, 22, 0.486);
}

.gonfa {
  display: flex;
  flex-wrap: wrap;
}

.gonfa2 {
  display: flex;
  flex-grow: 2;
  width: 33.33%;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

.user_bottom0 {
  padding-top: 80px;
  padding-bottom: 20px;
  border-radius: 20px;
  padding: 0px 25px;
  height: 380px;
  margin: auto;
}

.user_bottom1 {
  border-radius: 20px;
  padding: 0px 25px;
  margin: auto;
}

.user_bottom2 {
  border-radius: 20px;
  padding: 0px 25px;
  margin: auto;
  height: 20px;
}