:root {
  --background-image: url('@public/img/24.jpg');
}

#root[data-theme='blue'] {
  --background-image: url('@public/img/28.jpg');
}

#root[data-theme='purple'] {
  --background-image: url('@public/img/03.jpg');
}

#root[data-theme='red'] {
  --background-image: url('@public/img/00.jpg');
}
